@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  default: true;
  --color-primary: #000000;
  --color-secondary: #294CFF;
  --color-base-200: #629FF0;
  --color-base-300: #85C7DE;
  --color-accent: #ffffff;
}

li a.active {
  text-decoration: underline;
  background: linear-gradient(90deg, #294CFF, #629FF0);
  background-clip: text;
  color: transparent;
}

@keyframes pulseLogo {
  0% {
    transform: scale(0.8);
    opacity: 0.4;
  }

  50% {
    transform: 1.1;
    opacity: 1;
  }

  100% {
    transform: 0.8;
    opacity: 0.4;
  }
}

.animate-logo {
  animation: pulseLogo 1.8s ease-in-out infinite;
}